<!DOCTYPE html>
<html>
<head>
    <title>Account Info</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Account Management</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'import_accounts' %}">Import Accounts</a></li>
                    <li><a href="{% url 'list_accounts' %}">List Accounts</a></li>
                    <li><a href="{% url 'transfer_funds' %}">Transfer Funds</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Account Information</h1>
        <p>ID: {{ account.id }}</p>
        <p>Name: {{ account.name }}</p>
        <p>Balance: {{ account.balance }}</p>
    </div>
</body>
</html>
