<!DOCTYPE html>
<html>
<head>
  <title>Transfer Funds</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1>Account Management</h1>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'import_accounts' %}">Import Accounts</a></li>
        <li><a href="{% url 'list_accounts' %}">List Accounts</a></li>
        <li><a href="{% url 'transfer_funds' %}">Transfer Funds</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <h1>Transfer Funds</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Transfer</button>
  </form>
</div>
</body>
</html>
